body, button, input, textarea {
  color: #000;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  line-height: 1.8; }

body {
  background: #EDEDED;
  margin: 0; }
  body .outer-wrap header, body .outer-wrap footer {
    background: black;
    height: 100px; }
  body .outer-wrap .content-area {
    padding: 2em; }
    body .outer-wrap .content-area .post {
      background: #fff;
      margin-bottom: 1em; }
      body .outer-wrap .content-area .post a {
        color: #000;
        text-decoration: none; }
        body .outer-wrap .content-area .post a .post-content {
          padding: 0 40px 20px; }
          body .outer-wrap .content-area .post a .post-content h2 {
            background: #f6d200;
            color: #000;
            padding: 20px;
            text-align: center;
            margin: 0 -40px 30px; }
    body .outer-wrap .content-area .watch .section-header {
      color: #000;
      font-size: 3em;
      text-align: center; }
    body .outer-wrap .content-area .watch .watch-card {
      margin-bottom: 1em; }
      body .outer-wrap .content-area .watch .watch-card .watch-content {
        background: #000;
        color: #fff;
        padding: 3em; }
        body .outer-wrap .content-area .watch .watch-card .watch-content h2 {
          font-size: 2em;
          font-weight: 300;
          margin: 0;
          text-transform: capitalize; }
        body .outer-wrap .content-area .watch .watch-card .watch-content .movie-info {
          font-weight: bold; }
          body .outer-wrap .content-area .watch .watch-card .watch-content .movie-info span {
            padding-right: 1.5em; }
          body .outer-wrap .content-area .watch .watch-card .watch-content .movie-info .movie-story {
            margin: 1em 0; }
          body .outer-wrap .content-area .watch .watch-card .watch-content .movie-info a {
            color: #fff;
            font-weight: bold; }
    body .outer-wrap .content-area .download .section-header {
      color: #000;
      font-size: 3em;
      text-align: center; }
    body .outer-wrap .content-area .download .download-card {
      margin-bottom: 1em; }
    body .outer-wrap .content-area .download .download-content {
      background: #fff;
      display: flex;
      flex-flow: column; }
      body .outer-wrap .content-area .download .download-content a {
        background: #000;
        color: #fff;
        padding: 1em 2em;
        text-decoration: none;
        text-transform: capitalize;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center; }
        body .outer-wrap .content-area .download .download-content a i {
          font-size: 2.5em; }
      body .outer-wrap .content-area .download .download-content .download-info {
        padding: 1em 2em; }
        body .outer-wrap .content-area .download .download-content .download-info h4 {
          margin: 0;
          flex-basis: 20%; }
        body .outer-wrap .content-area .download .download-content .download-info p {
          margin: 0;
          font-size: 0.9em; }
      body .outer-wrap .content-area .download .download-content .download-genre {
        margin-bottom: 10px; }
      body .outer-wrap .content-area .download .download-content .download-cast, body .outer-wrap .content-area .download .download-content .download-genre {
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
      body .outer-wrap .content-area .download .download-content .download-cast img {
        height: 60px;
        width: 60px;
        border-radius: 50%; }
      body .outer-wrap .content-area .download .download-content .download-rating {
        background: #f6d200;
        padding: 1em 2em;
        color: #000;
        font-size: 0.9em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center; }
        body .outer-wrap .content-area .download .download-content .download-rating .rate {
          font-size: 2.5em;
          font-weight: bold; }
    body .outer-wrap .content-area .gallery .section-header {
      color: #000;
      font-size: 3em;
      text-align: center; }
    body .outer-wrap .content-area .gallery .gallery-imgs {
      display: flex;
      flex-wrap: wrap;
      margin-left: -8px; }
      body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img {
        height: 250px;
        flex-grow: 1;
        margin: 0 0 8px 8px; }
        body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img img {
          height: 100%;
          object-fit: cover; }
        body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img:nth-child(4n+1) {
          flex-basis: 250px; }
        body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img:nth-child(4n+2) {
          flex-basis: 325px; }
        body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img:nth-child(4n+3) {
          flex-basis: 180px; }
        body .outer-wrap .content-area .gallery .gallery-imgs .gallery-img:nth-child(4n+4) {
          flex-basis: 380px; }
  body .outer-wrap .site-header {
    height: 400px;
    display: flex;
    flex-flow: column; }
    body .outer-wrap .site-header .site-info {
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      justify-content: center; }
      body .outer-wrap .site-header .site-info .site-title {
        margin: 0;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: #fff;
        text-transform: uppercase; }
      body .outer-wrap .site-header .site-info .site-description {
        text-align: center;
        color: #f6d200;
        font: 1.2em;
        margin-top: -0.8;
        font-style: italic; }
    body .outer-wrap .site-header .main-menu {
      padding: 1em 1em;
      color: #000;
      background: #f6d200; }
  body .outer-wrap .sidebar-right {
    background: blue;
    color: #fff; }

h1 {
  color: red; }

p {
  margin: 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

@media screen and (min-width: 1120px) {
  .content-area {
    display: flex; }

  .sidebar-right {
    flex: 0 0 320px; } }
@media screen and (min-width: 1120px) {
  .site-title {
    font-size: 4em !important; } }
@media screen and (min-width: 810px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  .post {
    flex-basis: 49%; } }
@media screen and (min-width: 1120px) {
  .post-one-third {
    flex-basis: 32%; }

  .post-half {
    flex-basis: 49%; }

  .post-full {
    flex-basis: 100%; } }
@media screen and (min-width: 810px) {
  .watch-card {
    display: flex !important; }

  .watch-content {
    display: flex;
    flex-flow: column;
    justify-content: center; }

  .img-right {
    order: 1; } }
@media screen and (min-width: 810px) {
  .download-content {
    display: flex;
    flex-direction: row !important; }

  .download-content a, .download-rating {
    flex-grow: 1; }

  .download-info {
    flex-grow: 2; } }

/*# sourceMappingURL=style.css.map */
