body,button,input,textarea {
    color: #000;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
body {
    background: #EDEDED;
    margin: 0;
    .outer-wrap {
        header, footer {
            background: black;
            height: 100px;
        }
        .content-area {
            padding: 2em;
            .post {
                background: #fff;
                margin-bottom: 1em;
                a {
                    color: #000;
                    text-decoration: none;
                    .post-content {
                        padding: 0 40px 20px;
                        h2 {
                            background: #f6d200;
                            color: #000;
                            padding: 20px;
                            text-align: center;
                            margin: 0 -40px 30px;
                        }
                    }
                }
            }
            .watch {
                .section-header {
                    color: #000;
                    font-size: 3em;
                    text-align: center;
                }
                .watch-card {
                    margin-bottom: 1em;
                    // .watch-img {
                    //     img {

                    //     }
                    // }
                    .watch-content {
                        background: #000;
                        color: #fff;
                        padding: 3em;
                        h2 {
                            font-size: 2em;
                            font-weight: 300;
                            margin: 0;
                            text-transform: capitalize;
                        }
                        .movie-info {
                            font-weight: bold;
                            span {
                                padding-right: 1.5em;
                            }
                            .movie-story {
                                margin: 1em 0;
                            }
                            a {
                                color: #fff;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .download {
                .section-header {
                    color: #000;
                    font-size: 3em;
                    text-align: center;
                }
                .download-card {
                    margin-bottom: 1em;
                }
                .download-content {
                    background: #fff;
                    display: flex;
                    flex-flow: column;
                    a {
                        background: #000;
                        color: #fff;
                        padding: 1em 2em;
                        text-decoration: none;
                        text-transform: capitalize;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        text-align: center;
                        // span {

                        // } 
                        i {
                            font-size: 2.5em;
                        }
                    }
                    .download-info {
                        padding: 1em 2em;
                        h4 {
                            margin: 0;
                            flex-basis: 20%;
                        }
                        p {
                            margin: 0;
                            font-size: 0.9em;
                        }
                    }
                    .download-genre {
                        margin-bottom: 10px;
                    }
                    .download-cast,.download-genre {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                    }
                    .download-cast {
                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                        }
                    }
                    .download-rating {
                        background: #f6d200;
                        padding: 1em 2em;
                        color: #000;
                        font-size: 0.9em;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        text-align: center;
                        .rate {
                            font-size: 2.5em;
                            font-weight: bold;
                        }
                    }
                }
            }
            .gallery {
                .section-header {
                    color: #000;
                    font-size: 3em;
                    text-align: center;
                }
                .gallery-imgs {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -8px;
                    .gallery-img {
                        height: 250px;
                        flex-grow: 1;
                        margin: 0 0 8px 8px;
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                        &:nth-child(4n+1) {
                            flex-basis: 250px;
                        }
                        &:nth-child(4n+2) {
                            flex-basis: 325px;
                            // border: 5px solid red;
                        }
                        &:nth-child(4n+3) {
                            flex-basis: 180px;
                        }
                        &:nth-child(4n+4) {
                            flex-basis: 380px;
                        }
                    }
                }
            }
        }
        .site-header {
            height: 400px;
            display: flex;
            flex-flow: column;
            .site-info {
                flex-grow: 1;
                display: flex;
                flex-flow: column;
                justify-content: center;
                .site-title {
                    margin: 0;
                    font-size: 2em;
                    font-weight: 300;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                }
                .site-description {
                    text-align: center;
                    color: #f6d200;
                    font: 1.2em;
                    margin-top: -0.8;
                    font-style: italic;
                }
            }
            .main-menu {
                padding: 1em 1em;
                color: #000;
                background: #f6d200;
            }
        }
        .sidebar-right {
            background: #EDEDED;
            color: #000;
            padding: 2em;
            .widget {
                background: white;
                margin-bottom: 2em;
                .widget-content {
                    padding: 0.5em 2em;
                    ul {
                        list-style-type: none;
                        padding-left: 1em;
                        a {
                            display: block;
                            padding: 0.4em;
                            color: black;
                            text-decoration: none;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
h1 {
    color: red;
}
p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1120px) {
    .content-area {
        display: flex;
    }
    .sidebar-right {
        flex: 0 0 320px;
    }
    
}
@media screen and (min-width: 1120px) {
    .site-title {
        font-size: 4em !important;
    }
}

@media screen and (min-width: 810px) {
    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post {
        flex-basis: 49%;
    }
}
@media screen and (min-width: 1120px) {
    .post-one-third {
        flex-basis: 32%;
    }
    .post-half {
        flex-basis: 49%;
    }
    .post-full {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 810px) {
    .watch-card {
        display: flex !important;
    }
    .watch-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .img-right {
        order: 1;
    }
}
@media screen and (min-width: 810px) {
    .download-content {
        display: flex;
        flex-direction: row !important;
    }
    .download-content a, .download-rating {
        flex-grow: 1;
    }
    .download-info {
        flex-grow: 2;
    }
}

@media screen and (min-width: 810px) and (max-width:1120px) {
    .sidebar-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .widget {
            flex-basis: 48.8%;
        }
    }
    
}