body,button,input,textarea {
    color: #000;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
body {
    background: #EDEDED;
    margin: 0;
    .outer-wrap {
        header, footer {
            background: black;
            height: 100px;
        }
        .content-area {
            padding: 2em;
            .post {
                background: #fff;
                margin-bottom: 1em;
                a {
                    color: #000;
                    text-decoration: none;
                    .post-content {
                        padding: 0 40px 20px;
                        h2 {
                            background: #f6d200;
                            color: #000;
                            padding: 20px;
                            text-align: center;
                            margin: 0 -40px 30px;
                        }
                    }
                }
            }
            .watch {
                .section-header {
                    color: #000;
                    font-size: 3em;
                    text-align: center;
                }
                .watch-card {
                    margin-bottom: 1em;
                    .watch-img {
                        img {

                        }
                    }
                    .watch-content {
                        background: #000;
                        color: #fff;
                        padding: 3em;
                        h2 {
                            font-size: 2em;
                            font-weight: 300;
                            margin: 0;
                            text-transform: capitalize;
                        }
                        .movie-info {
                            font-weight: bold;
                            span {
                                padding-right: 1.5em;
                            }
                            .movie-story {
                                margin: 1em 0;
                            }
                            a {
                                color: #fff;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .site-header {
            height: 400px;
            display: flex;
            flex-flow: column;
            .site-info {
                flex-grow: 1;
                display: flex;
                flex-flow: column;
                justify-content: center;
                .site-title {
                    margin: 0;
                    font-size: 2em;
                    font-weight: 300;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                }
                .site-description {
                    text-align: center;
                    color: #f6d200;
                    font: 1.2em;
                    margin-top: -0.8;
                    font-style: italic;
                }
            }
            .main-menu {
                padding: 1em 1em;
                color: #000;
                background: #f6d200;
            }
        }
        .sidebar-right {
            background: blue;
            color: #fff;
        }
    }
}
h1 {
    color: red;
}
p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1120px) {
    .content-area {
        display: flex;
    }
    .sidebar-right {
        flex: 0 0 320 px;
    }
    
}
@media screen and (min-width: 1120px) {
    .site-title {
        font-size: 4em !important;
    }
}

@media screen and (min-width: 810px) {
    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post {
        flex-basis: 49%;
    }
}
@media screen and (min-width: 1120px) {
    .post-one-third {
        flex-basis: 32%;
    }
    .post-half {
        flex-basis: 49%;
    }
    .post-full {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 810px) {
    .watch-card {
        display: flex;
    }
    .watch-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .img-right {
        order: 1;
    }
}